.janelaconversa {
    display: flex;
    flex-direction: column;
    height: 100%;
}
 
.janelaconversa--cabecalho {
    height: 60px;
    border-bottom: 1px solid #CCC;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
 
.janelaconversa--cabecalhoinfo {
    display: flex;
    align-items: center;
    cursor: pointer;
}
 
.janelaconversa--avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 15px;
    margin-right: 15px;
}
 
.janelaconversa--nome {
    font-size: 17px;
    color: #000;
}

.janelaconversa--cabecbotoes {
    display: flex;
    align-items: center;
    margin-right: 15px;
}
 
.janelaconversa--botao {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    
}
 
.janelaconversa--corpo {
    flex: 1;
    overflow-y: auto;
    background-color: #E5DDD5;
    background-size: cover;
    background-position: center;
    background-image: url('../imagens/fundo.png');
    
}
  
.janelaconversa--rodape {
    height: 62px;
    display: flex;
    align-items: center;
}
 
.janelaconversa--pre {
    display: flex;
    margin: 0 15px;
 }
 
 .janelaconversa--areaentrada {
    flex: 1;
 }
 
 .janelaconversa--entrada {
    width: 100%;
    height: 40px;
    border: 0;
    outline: 0;
    background-color: #FFF;
    border-radius: 20px;
    font-size: 15px;
    color: #4A4A4A;
    padding-left: 15px;
 }
 
.janelaconversa--pos {
    display: flex;
    margin: 0 15px;
}

.janelaconversa--areaemoji {
    height: 200px;
    overflow-y: hidden;
    transition: all ease .4s;
}

aside.emoji-picker-react {
    width: auto;
    background: none;
}

.emoji-picker-react .emoji-group:before {
    background: none;
}





