.novaconversa {
    width: 35%;
    max-width: 415px;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #DDD;
}

.novaconversa--cabecalho {
    display: flex;
    background-color: #00BFA5;
    align-items: center;
    padding: 60px 15px 15px 15px;
}

.novaconversa--botaovoltar {

}
.novaconversa--titulocabecalho {
    
}
.novaconversa--lista {
    
}


